[submodule ".vim/bundle/snipmate"]
	path = .vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule ".vim/bundle/vimwiki"]
	path = .vim/bundle/vimwiki
	url = https://github.com/vim-scripts/vimwiki.git
[submodule ".vim/bundle/template"]
	path = .vim/bundle/template
	url = https://github.com/hotoo/template.vim.git
[submodule ".vim/bundle/bufexplorer"]
	path = .vim/bundle/bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip.git
