[user]
	name = Martin Darmüntzel
	email = martin@trivialanalog.de
[core]
	editor = vim
	pager = less
[color]
	ui = auto
	diff = auto
	status = auto
	interactive = auto
	branch = auto
[diff]
	mnemonicprefix = true
[merge]
	tool = vimdiff
	summary = true
[alias]
	ad = add
	br = branch
	ci = commit -v
	co = checkout
	df = diff
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	mff = merge --no-ff --log
	re = remote -v
	st = status -sb
	unstage = reset HEAD
[push]
	default = matching
